<?xml version='1.0' encoding='utf-8'?>
<widget
  id="com.andrewmilson.workoutland"
  version="1.2"
  android-versionCode="4"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Workout Land</name>
    <description>Workout timer + planner</description>
    <author href="http://andrewmilson.com">Andrew Milson</author>

    <content src="index.html" />
    <!-- <icon src="./icon.png" /> -->

    <platform name="android">
      <icon src="icons/android/icon48.png" density="mdpi" />
      <icon src="icons/android/icon72.png" density="hdpi" />
      <icon src="icons/android/icon96.png" density="xhdpi" />
      <icon src="icons/android/icon144.png" density="xxhdpi" />
      <icon src="icons/android/icon192.png" density="xxhdpi" />
      <preference name="StatusBarBackgroundColor" value="#2E222D" />
    </platform>

    <platform name="ios">
      <!-- iOS 8.0+ -->
      <!-- iPhone 6 Plus  -->
      <icon src="icons/ios/icon60@3x.png" width="180" height="180" />
      <!-- iOS 7.0+ -->
      <!-- iPhone / iPod Touch  -->
      <icon src="icons/ios/icon60.png" width="60" height="60" />
      <icon src="icons/ios/icon60@2x.png" width="120" height="120" />
      <!-- iPad -->
      <icon src="icons/ios/icon76.png" width="76" height="76" />
      <icon src="icons/ios/icon76@2x.png" width="152" height="152" />
      <!-- iOS 6.1 -->
      <!-- Spotlight Icon -->
      <icon src="icons/ios/icon40.png" width="40" height="40" />
      <icon src="icons/ios/icon40@2x.png" width="80" height="80" />
      <!-- iPhone / iPod Touch -->
      <icon src="icons/ios/icon57.png" width="57" height="57" />
      <icon src="icons/ios/icon57@2x.png" width="114" height="114" />
      <!-- iPad -->
      <icon src="icons/ios/icon72.png" width="72" height="72" />
      <icon src="icons/ios/icon72@2x.png" width="144" height="144" />
      <!-- iPhone Spotlight and Settings Icon -->
      <icon src="icons/ios/icon29.png" width="29" height="29" />
      <icon src="icons/ios/icon29@2x.png" width="58" height="58" />
      <!-- iPad Spotlight and Settings Icon -->
      <icon src="icons/ios/icon50.png" width="50" height="50" />
      <icon src="icons/ios/icon50@2x.png" width="100" height="100" />

      <preference name="StatusBarBackgroundColor" value="#4d394b" />
    </platform>

    <plugin name="cordova-plugin-whitelist" version="1" />

    <preference name="AndroidLaunchMode" value="singleTask" />
    <preference name="Orientation" value="portrait"/>
    <preference name="webviewbounce" value="true"/>
    <preference name="disallowOverscroll" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="OpenAllExternalURLsInWebView" value="true" />

    <access origin="geo:*" launch-external="yes"/>
    <access origin="mailto:*" launch-external="yes"/>
    <access origin="http://maps.google.com/*" launch-external="yes"/>
    <access origin="http://*" launch-external="yes"/>
    <access origin="https://*" launch-external="yes"/>

    <allow-intent href="http://*" />
    <allow-intent href="https://*" />
    <allow-intent href="tel:*" />
    <allow-intent href="workout:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <access origin="*" />
</widget>
