@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?vk7ukd');
	src:url('fonts/icomoon.eot?#iefixvk7ukd') format('embedded-opentype'),
		url('fonts/icomoon.woff?vk7ukd') format('woff'),
		url('fonts/icomoon.ttf?vk7ukd') format('truetype'),
		url('fonts/icomoon.svg?vk7ukd#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-link:before {
	content: "\e9cb";
}

.icon-play3:before {
	content: "\ea1c";
}

.icon-pause2:before {
	content: "\ea1d";
}

.icon-stop2:before {
	content: "\ea1e";
}

.icon-share2:before {
	content: "\ea82";
}

