<form action="">
  <input class="form-control" type="text" placeholder="username">
  <input class="form-control" type="password" placeholder="password">
  <input type="submit" class="btn btn-default" value="Log In">
</form>
<hr>
<form action="">
  <input class="form-control" type="text" placeholder="username">
  <input class="form-control" type="email" placeholder="email">
  <input class="form-control" type="password" placeholder="password">
  <input type="submit" class="btn btn-default" value="Sign Up">
</form>
<hr>
<form action="">
  <input class="form-control" type="email" placeholder="email">
  <input type="submit" class="btn btn-default" value="Reset Password">
</form>
