<div ng-hide="workouts.length" style="margin: auto; width: 80%;" class="text-center">
  Workouts you view show up here! Check out this <a wl-href="/jvl-67">example abdominal workout</a> or have fun and <a wl-href="/c">create your own</a>!
</div>
<ul class="list">
  <li class="grid" ng-repeat="workout in workouts">
    <a wl-href="/{{ workout.id }}">
      <div class="col-12">
        <h3>
          {{ workout.name }}<br>
          <small>{{ website }}/{{ workout.id }}</small><br>
          <small>{{ workout.time / 60 | floor }} minutes {{ workout.time % 60 }} seconds</small>
        </h3>
      </div>
    </a>
  </li>
</ul>
