<div id="current">
  <ul id="steps">
    <li class="grid">
      <div class="col-12">
        <h3>
          Leg raises
          <br><small>10 reps</small>
        </h3>
      </div>
    </li>
    <li class="grid">
      <div class="col-12">
        <h3>
          Plank
          <br><small>10 seconds</small>
        </h3>
      </div>
    </li>
    <li class="grid">
      <div class="col-12">
        <h3>
          Iron Butterflies
          <br><small>30 seconds</small>
        </h3>
      </div>
    </li>
  </ul>

  <div id="info" class="grid">
    <div class="col-12">
      <h3>
        Ab Shredder #5
        <br><small>@brandonmyers</small>
        <br><small>2:30 mins</small>
      </h3>
    </div>
    <!-- <div class="col-3 text-right" style="font-size: 25px; position: absolute; right: 16px; top: 50%; transform: translateY(-50%);">
      <div class="start">
        <i class="icomoon icon-pencil"></i>
        <i class="icomoon icon-play3"></i><br>
        <i class="icomoon icon-bin"></i>
        <i class="icomoon icon-share3"></i>
      </div>
      <div class="controls">
        <i class="icomoon icon-pause2"></i>
        <i class="icomoon icon-stop2"></i><br>
        <i class="icomoon icon-previous2"></i>
        <i class="icomoon icon-next2"></i>
      </div>
    </div> -->
  </div>
  <div class="btn btn-default">start</div>
  <div class="btn btn-default">delete</div>
  <div class="btn btn-default">edit</div>
  <!-- <div class="btn btn-default">pause</div>
  <div class="btn btn-default">stop</div>
  <div class="btn btn-default">prev</div>
  <div class="btn btn-default">next</div> -->
</div>
