<div class="nav nav-bottom">
  <div class="nav-inner">
    <div id="container" ng-hide="meta.playing">
      <a ng-click="startWorkout()"><i class="icomoon icon-play3"></i> start</a>
      <a ng-click="shareWorkout()"><i class="icomoon icon-share2"></i> share</a>
    </div>
    <div id="container" ng-show="meta.playing">
      <a ng-click="toggleWorkout()" ng-hide="meta.paused"><i class="icomoon icon-pause2"></i> pause</a>
      <a ng-click="toggleWorkout()" ng-show="meta.paused"><i class="icomoon icon-play3"></i> resume</a>
      <a ng-click="stopWorkout()"><i class="icomoon icon-stop2"></i> stop</a>
    </div>
  </div>
</div>

<div id="current">
  <ul id="steps">
    <li>
      <div class="info">
        <h3>
          {{ workout.name }}
          <br ng-show="workout.notes"><small><strong>Notes:</strong> <span ng-bind-html="workout.notes | linky:'_blank'"></span></small>
          <br><small><strong>Link:</strong> {{ website }}/{{ workout.id }}</small>
          <br><small><strong>Time:</strong> <span ng-show="workout.time > 60">{{ workout.time / 60 | floor }} mins</span> <span ng-show="workout.time % 60">{{ workout.time % 60 }} seconds</span></small>
        </h3>
      </div>
    </li>
    <hr>
    <li class="step" ng-click="goToStep($index, $event)" ng-class="{current: meta.playing && $index == meta.current}" ng-repeat="step in workout.steps">
      <div class="info">
        <h3>
          {{ step.name }}
          <br><small><span class="progress-text">{{ step.time - meta.stepProgress }} / </span>{{ step.time }} seconds</span></small>
        </h3>
        <div class="progress" ng-style="{width: 100 - 100 / step.time * meta.stepProgress + '%'}"></div>
      </div>
    </li>
  </ul>
  <div style="height: 70px;"></div>
</div>
