<form name="form">
  <input ng-required="true" class="form-control" type="text" ng-model="workout.name" placeholder="Workout name">
  <textarea name="notes" ng-model="workout.notes" class="form-control" rows="3" placeholder="Notes etc (optional)"></textarea>
  <hr>
  <div class="form-group step" ng-repeat="step in workout.steps">
    <div>{{ $index + 1 | dateSuffix }} step <span ng-click="removeStep($index)">- remove</span></div>
    <input ng-required="true" class="form-control step-name" type="text" ng-model="step.name" placeholder="Step name">
    <input ng-required="true" type="number" ng-model="step.time" min="0" placeholder="0" class="text-right"> seconds
    <hr>
  </div>
</form>
<input type="submit" class="btn btn-default" ng-click="addStep()" value="Add Exercise"><br>
<button id="create-workout" class="btn btn-default" ng-click="createWorkout()" style="margin-bottom: 8px;" ng-disabled="form.$invalid || !workout.steps.length || createDisabled">
  <span ng-hide="createDisabled">Create Workout</span>
  <span ng-show="createDisabled">Creating...</span>
</button>
