<div class="nav nav-bottom">
  <div class="nav-inner">
    <div id="container" ng-hide="meta.playing">
      <a ng-click="startWorkout()"><i class="icomoon icon-play3"></i> START</a>
      <a ng-click="shareWorkout()" ng-disabled="workout.temp"><i class="icomoon icon-share2"></i> SHARE</a>
    </div>
    <div id="container" ng-show="meta.playing">
      <a ng-click="toggleWorkout()" ng-hide="meta.paused"><i class="icomoon icon-pause2"></i> PAUSE</a>
      <a ng-click="toggleWorkout()" ng-show="meta.paused"><i class="icomoon icon-play3"></i> PLAY</a>
      <a ng-click="stopWorkout()"><i class="icomoon icon-stop2"></i> STOP</a>
    </div>
  </div>
</div>

<div id="current">
  <ul id="steps" ng-class="{playing: meta.playing}">
    <li>
      <div class="info">
        <a
        href="workout://{{ workout.id }}"
        class="btn btn-lg full-width text-center"
        ng-i="isIOS && !isApp"
        style="margin-bottom: 1.5rem;">
          Open workout in app
        </a>
        <h3>
          <span class="title" >{{ workout.name }}</span>
          <small class="light-text" style="margin-bottom: 0.5rem;">
            https://{{ website }}/{{ workout.id }}<span ng-if="!workout.sample" ng-click="deleteWorkout()"> - delete</span>
          </small>
          <div class="light-text">
            <small ng-show="workout.notes" class="notes" ng-bind-html="workout.notes | linky:'_system'"></small>
            <br>
            <small ng-hide="isApp">
              <label for="voice-control-settings">
                <input type="checkbox" id="voice-control-settings" ng-model="settings.voiceControl">
                Voice control  <span class="badge">beta</span>
                <div><input type="checkbox" style="opacity: 0;"> - start, stop, next, previous, pause, play</div>
              </label>
            </small>
            <small>
              <label for="vibrate-settings">
                <input type="checkbox" id="vibrate-settings" ng-model="settings.vibrate">
                Vibrate
            </small>
            <small ng-show="isApp">
              <label for="keep-awake-settings">
                <input type="checkbox" id="keep-awake-settings" ng-model="settings.keepAwake">
                Keep screen awake
            </small>
            <small>
              <label for="tts-settings">
                <input type="checkbox" id="tts-settings" ng-model="settings.TTS">
                Test to speech
              </label>
            </small>
            <small ng-show="settings.TTS">
              <label for="tts-up-next-settings">
                <input type="checkbox" id="tts-up-next-settings" ng-model="settings.TTSUpNext">
                Test to speech "... up next"
              </label>
            </small>
            <small ng-show="workout.stepDifficulty.length">
              <label for="kg"><input type="radio" ng-model="settings.unit" value="kg" id="kg"> kg</label>
              <label for="lbs"><input type="radio" ng-model="settings.unit" value="lbs" id="lbs"> lbs</label>
            </small>
            <br>
            <small class="range-small">
              <span class="range-name">Duration</span>
              <span class="range-percentage"><span ng-show="workout.time >= 60">{{ workout.time / 60 | round }} min</span> - {{ workout.difficulty * 100 | number:0 }}%</span>
              <span class="range-input"><input type="range" ng-model="workout.difficulty" min="0.1" step="0.01" max="2"></span>
            </small>
            <small ng-repeat="step in workout.stepDifficulty" class="range-small">
              <span class="range-name">{{ step.name }} weight</span>
              <span class="range-percentage">{{ step.difficulty * 100 | number:0 }}%</span>
              <span class="range-input"><input type="range" ng-model="step.difficulty" min="0.1" step="0.01" max="2"></span>
            </small>
          </div>
        </h3>
      </div>
    </li>
    <hr>
    <li class="step" ng-click="goToStep($index, false, $event)" ng-class="{current: meta.playing && $index == meta.current, time: step.time, reps: step.reps}" ng-repeat="step in workout.steps">
      <div class="info">
        <h3>
          {{ step.name }} <span class="step-number">#{{ $index + 1 }}</span>
          <br>
          <small class="light-text">
            <span ng-if="step.time >= 0 || step.reps >= 0">
              <span ng-if="step.time"><span class="progress-text">{{ step.displayTime - meta.stepProgress | number:0 }} / </span>{{ step.displayTime }} seconds</span>
              <span ng-if="step.reps">{{ step.displayReps }} reps</span>
            </span>
            <span ng-if="step.time < 0 || step.reps < 0">To failure</span>
            <span ng-if="step.weight">
               - {{ step.displayWeight }} {{ settings.unit }}
            </span>
          </small>
        </h3>
        <div ng-if="step.time" class="progress" ng-style="{width: 100 - 100 / step.displayTime * meta.stepProgress + '%'}"></div>
        <div ng-if="step.reps" ng-click="goToStep($index + 1, true); $event.stopPropagation()" class="next-step btn">{{ $index == workout.steps.length - 1  ? 'finish' : 'next' }}</div>
      </div>
    </li>
  </ul>
  <div style="height: 3.5rem;"></div>
</div>
<!-- <div class="plus-minus">
  <a
  class="minus"
  ng-click="changeWeight($event, $index, -1)">-</a><a
  class="plus"
  ng-click="changeWeight($event, $index, 1)">+</a>
</div> -->
