<div id="current">
  <ul id="steps">
    <li class="grid">
      <div class="col-9">
        <h3>
          Leg raises
          <br><small>10 reps</small>
        </h3>
      </div>
    </li>
    <li class="grid">
      <div class="col-9">
        <h3>
          Plank
          <br><small>10 seconds</small>
        </h3>
      </div>
    </li>
    <li class="grid">
      <div class="col-9">
        <h3>
          Iron Butterflies
          <br><small>30 seconds</small>
        </h3>
      </div>
    </li>
  </ul>

  <div id="info" class="grid">
    <div class="col-9">
      <h3>
        Ab Shredder #5
        <br><small>@brandonmyers</small>
        <br><small>2:30 mins</small>
      </h3>
    </div>
    <div class="col-3 text-right" style="position: absolute; right: 16px; top: 50%; transform: translateY(-50%);">
      <div class="start">
        <i class="icomoon icon-play3" style="font-size: 30px;"></i>
      </div>
      <!-- <div class="controls">
        <i class="icomoon icon-pause2" style="font-size: 30px;"></i>
        <i class="icomoon icon-stop2" style="font-size: 30px;"></i><br>
        <i class="icomoon icon-previous2" style="font-size: 30px;"></i>
        <i class="icomoon icon-next2" style="font-size: 30px;"></i>
      </div> -->
    </div>
  </div>
</div>
