<div class="nav nav-bottom">
  <div class="nav-inner">
    <div id="container" ng-hide="meta.playing">
      <a ng-click="startWorkout()"><i class="icomoon icon-play3"></i> start</a>
      <a ng-click="shareWorkout()" ng-disabled="workout.temp"><i class="icomoon icon-share2"></i> share</a>
    </div>
    <div id="container" ng-show="meta.playing">
      <a ng-click="toggleWorkout()" ng-hide="meta.paused"><i class="icomoon icon-pause2"></i> pause</a>
      <a ng-click="toggleWorkout()" ng-show="meta.paused"><i class="icomoon icon-play3"></i> resume</a>
      <a ng-click="stopWorkout()"><i class="icomoon icon-stop2"></i> stop</a>
    </div>
  </div>
</div>

<div id="current">
  <ul id="steps" ng-class="{playing: meta.playing}">
    <li>
      <div class="info">
        <h3>
          <span class="title">{{ workout.name }}</span>
          <span ng-show="workout.notes"><br><small><strong>Notes:</strong> <span ng-bind-html="workout.notes | linky:'_system'"></span></small></span>
          <span ng-hide="workout.temp"><br><small><strong>Link:</strong> {{ website }}/{{ workout.id }}</small></span>
          <br><small><strong>Estimated time:</strong> <span ng-show="workout.time >= 60">{{ workout.time / 60 | floor }} min</span> <span ng-show="workout.time % 60">{{ workout.time % 60 }} sec</span></small>
          <br><small><strong>Duration:</strong> <input type="range" ng-model="workout.difficulty" min="0.1" step="0.05" max="2"> {{ workout.difficulty * 100 | number:0 }}%</small>
          <div class="difficulties">
            <small>
              <strong>
                Difficulties
              </strong>
            </small>
            <ul class="difficulties-list">
              <li ng-repeat="step in workout.stepDifficulty">
                <small><strong>{{ step.name }}:</strong> <input type="range" ng-model="step.difficulty" min="0.1" step="0.05" max="2"> {{ step.difficulty * 100 | number:0 }}%</small>
              </li>
            </ul>
          </div>
        </h3>
      </div>
    </li>
    <hr>
    <li class="step" ng-click="goToStep($index, false, $event)" ng-class="{current: meta.playing && $index == meta.current, time: step.time, reps: step.reps}" ng-repeat="step in workout.steps">
      <div class="info">
        <h3>
          #{{ $index + 1 }} {{ step.name }}
          <br><small>
            <span ng-if="step.time"><span class="progress-text">{{ step.time - meta.stepProgress }} / </span>{{ step.time | number:0 }} seconds</span>
            <span ng-if="step.reps">{{ step.reps | number:0 }} reps</span>
          </small>
        </h3>
        <div ng-if="step.time" class="progress" ng-style="{width: 100 - 100 / step.time * meta.stepProgress + '%'}"></div>
        <div ng-if="step.reps" ng-click="goToStep($index + 1, true); $event.stopPropagation()" class="next-step">{{ $index == workout.steps.length - 1  ? 'FINISH' : 'NEXT' }}</div>
      </div>
    </li>
  </ul>
  <div style="height: 70px;"></div>
</div>
