*, *:after, *:before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body , html {
  height: 100%;
  width: 100%;
  padding: 0;
  font-family: 'Open Sans';
  margin: 0;
  color: #776E65;
  background: #faf8ef;
}

a {
  color: inherit;
}

body {
  padding: 68px 8px 8px 8px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 800;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: 400;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

[class*='col-'] {
  float: left;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.67%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.67%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

input, textarea, button {
  outline: none;
}

*[disabled] {
  opacity: 0.5;
}

input[type=number] {
  width: 70px;
}

input[type=submit] {
  font-weight: 400;
}

input, .form-control {
  color: #776E65;
  background: #CDC1B5;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: 400;
  padding: 8px;
  margin-bottom: 8px;
  font-family: 'Open Sans';
}

.form-control {
  width: 100%;
  font-weight: 400;
  font-family: 'Open Sans';
}

::-webkit-input-placeholder {
    color: inherit;
  opacity: 0.5;
}
:-moz-placeholder {
  color: inherit;
  opacity: 0.5;
}
::-moz-placeholder {
  color: inherit;
  opacity: 0.5;
}
:-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

.btn {
  padding: 8px 10px;
  font-weight: bold;
  border: none;
  display: inline-block;
  color: #eee4da;
  border-radius: 5px;
  font-size: 18px;
}

.btn-default {
  background: #776E65;
}
.btn-danger {
  background: #F65D3B;
}
.btn-success {
  background: #5EDA92;
}

.text-danger {
  color: #F65D3B;
}
.text-success {
  color: #5EDA92;
}

hr {
  border-color: transparent;
  margin: 10px 0;
}

.nav {
  height: 60px;
  position: fixed;
  z-index: 2;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0;
  font-weight: 400;
}

.nav.nav-top {
  top: 0;
}

.nav.nav-bottom {
  bottom: 0;
}

.nav-inner {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
  background: #776E65;
  padding: 0;
  font-weight: 400;
}

.nav #container {
  display: table-row;
}

.nav a {
  font-size: 18px;
  color: #eee4da;
  vertical-align: middle;
  text-decoration: none;
  display: table-cell;
}

#view {
  margin: auto;
  position: relative;
  height: 100%;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list li {
  margin: 0 0 8px 0;
  padding: 8px;
  border-radius: 5px;
  background: #CDC1B5;
}

#steps {
  padding: 0;
  margin: 0;
  list-style: none;
}

#steps li .info {
  padding: 16px;
  position: relative;
  list-style: none;
  color: #776E65;
  overflow: hidden;
  border-radius: 8px;
}

#steps.playing li.step {
  cursor: pointer;
}

#steps li .progress, #steps li .progress-text {
  display: none;
}

#steps li.current .progress-text {
  display: inline;
}

#steps li.current .progress {
  display: block;
  z-index: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0 8px 8px 0;
}

#steps li .controls {
  display: none;
}

#steps li.current .controls {
  margin-bottom: 8px;
  display: block;
}

#steps li:first-child .info {
  background: #CDC1B5;
}

#steps li.current .info{
  background: #776E65;
  color: #eee4da;
}

#steps li.current .info h3 {
  z-index: 1;
  position: relative;
}

@media screen and (min-width: 550px) {
  body {
    padding: 70px 0 0 0;
  }

  .nav.nav-top .nav-inner {
    border-radius: 0 0 5px 5px;
    top: 0px;
  }

  .nav.nav-bottom .nav-inner {
    border-radius: 5px 5px 0 0;
    bottom: 0px;
  }

  .nav .nav-inner {
    width: 500px;
  }

  #view {
    width: 500px;
  }
}
